#set ($domain = $!domainName.substring(0,1).toLowerCase()+$!domainName.substring(1))
package $!{projectName}.$!{customPath}.$!{packageName}.dao;

import $!{projectName}.core.repository.MyRepository;
import $!{projectName}.$!{customPath}.$!{packageName}.entity.$!{className};

/**
 *字段
 */
public interface $!{className}Repository extends MyRepository<$!{className}, String> {

}
