#set ($domain = $!domainName.substring(0,1).toLowerCase()+$!domainName.substring(1))
package $!{projectName}.$!{customPath}.$!{packageName}.entity;

import $!{projectName}.common.dto.BaseDTO;
import lombok.Getter;
import lombok.Setter;
import java.io.Serializable;


@Entity
@Table(name = "$!{className}")
@DynamicUpdate
@DynamicInsert
@Getter
@Setter
public class $!{className} extends BaseEntity implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach($propertie in $properties)
    /**
     * $propertie.propertyNote
     */
     $propertie.propertyPermission  $propertie.propertyType  $propertie.propertyName;

#end
}
