#set ($domain = $!domainName.substring(0,1).toLowerCase()+$!domainName.substring(1))
package $!{projectName}.$!{customPath}.$!{packageName}.service;

import $!{projectName}.core.service.CommonService;
import $!{projectName}.$!{customPath}.$!{packageName}.$!{className}DTO;
import $!{projectName}.$!{customPath}.$!{packageName}.entity.$!{className};


public interface $!{className}Service extends CommonService<$!{className}, $!{className}DTO> {

}
