#set ($domain = $!domainName.substring(0,1).toLowerCase()+$!domainName.substring(1))
package $!{projectName}.$!{customPath}.$!{packageName}.service.impl;

import com.okkristen.project.core.service.impl.CommonServiceImpl;
import $!{projectName}.$!{customPath}.$!{packageName}.dto.$!{className}DTO;
import $!{projectName}.$!{customPath}.$!{packageName}.entity.$!{className};
import $!{projectName}.$!{customPath}.$!{packageName}.service.$!{className}Service;
import org.springframework.stereotype.Service;


@Service
public class $!{className}ServiceImpl extends CommonServiceImpl<$!{className}, $!{className}DTO> implements $!{className}Service {

}
